.App {
  text-align: center;
}



.header {
  display: flex;
  align-items: center;
  height: 65px;
  justify-content: space-between;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--title {
  font-size: 30px;
  margin-right: auto;
  text-indent: 20px;

}

.header--address {
  /* font-size: 12px; */
  /* font-weight: 500; */
  margin-right: right;
  text-indent: 5px;
  justify-content: space-between;

}

.header--connect {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #672280;
  border-radius: 10px;
  box-shadow: 0 4px #999;
}

.header--connect:hover {
  background-color: #A626D3;
}

.header--connect:active {
  background-color: #7f1d1d;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}



.form {
  display: grid;
  grid-template: 40px 40px ;
  gap: 17px;
}

.form--input {
  border-radius: 5px;
  /* border: 1px solid #D5D4D8; */
  text-indent: 5px;
}

.form--input2 {
  border-radius: 5px;
  /* border: 1px solid #D5D4D8; */
  text-indent: 5px;
  width: 100%;
  height: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  width: 30%;
  height: 30px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.split {
  /* height: 100%; */
  width: 45%;
  position: fixed;
  /* z-index: 1; */
  /* top: 0; */
  overflow-x: hidden;
  padding: 40px 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.vl {
  border-left: 1px solid #711F8D;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 10;
}

/* .main {

  left: 100px;
  padding: 40px 20px;
  position: relative;
  width: 500px;
} 

.reveal {

  left: 100px;
  padding: 40px 800px;
  position: relative;
  width: 500px;
}  */



/* 
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */