.App {
  text-align: center;
  
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  justify-content: space-between;
  background: linear-gradient(90deg, #525252 1.18%, #a6a6a6 100%);
  color: white;
  padding: 20px;
}

.header--title {
  font-size: 30px;
  margin-right: auto;
  text-indent: 20px;

}

.header--address {
  margin-right: right;
  text-indent: 5px;
  justify-content: space-between;

}

.header--connect {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #525252;

  border-radius: 10px;
  box-shadow: 0 4px #999;
}

.header--connect:hover {
  background-color: #a6a6a6;
}

.header--connect:active {
  background-color: #dcdcdc;
  box-shadow: 0 2px #525252;
  transform: translateY(2px);
}

div.reveal {
  height: 650px;
  width: 95%;
  border: 1px solid lightgray; 
  border-radius: 10px; 
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  background-color: #dcdcdc;
  overflow: auto;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  text-align: center;
  padding: 20px;
}

.main{
  height: 650px;
}

.form {
  height: 380px;
  display: grid;
  grid-template: 40px 40px ;
  gap: 17px;
  padding: 40px 40px;
  border: 1px solid lightgray; 
  border-radius: 10px 10px; 
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  background-color: #dcdcdc;
}

.form--input { 
  border-radius: 5px;
  height: 10px;
  text-indent: 5px;
  padding: 5px 5px;
}

.form--reveal {
  margin-top: 10px;
  height: 140px;
  display: grid;
  grid-template: 40px 40px ;
  gap: 17px;
  padding: 40px 40px;
  border: 1px solid lightgray; 
  border-radius: 10px 10px; 
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  background-color: #dcdcdc;
}

.form--input2 {
  height: 200px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  width: 30%;
  height: 30px;
  background: linear-gradient(90deg, #525252 1.18%, #a6a6a6 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.split {
  width: 45%;
  position: fixed;
  padding: 20px 40px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.vl {
  border-left: 1px solid #dcdcdc;
  height: 87%;
  position: absolute;
  left: 50%;
  top: 10;
}
